@import url(//db.onlinewebfonts.com/c/3ddefed97da9f477acddbd34870eb277?family=VanDijckMTW01-Regular);
@import url(//db.onlinewebfonts.com/c/5c60085789b1949c7c249c3798453196?family=Neuzeit+Grotesk);

body {
    margin: 60px auto;
    width: 52%;
    background-color: #fffff8;
    font-family: 'VanDijckMTW01-Regular', 'Garamond', 'Serif';
    color: #2e2e2e;
}

nav ul, footer ul {
    font-family: 'Neuzeit Grotesk', 'Futura', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #3271b8;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Neuzeit Grotesk', 'Futura', 'Serif';
}

h2 {
    font-family: 'Neuzeit Grotesk', 'Futura', 'Serif';
}

h3 {
    font-family: 'Neuzeit Grotesk', 'Futura', 'Serif';
}

h4 {
    font-family: 'Neuzeit Grotesk', 'Futura', 'Serif';

}


h5 {
    font-family: 'Neuzeit Grotesk', 'Futura', 'Serif';
}

p {
    font-size: 1.15em;
    line-height: 1.6em;
    color: #2e2e2e;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ol.posts li {
  font-size: 1.1em;
  line-height: 1.6em;
}

.footnote{
    font-size: 0.8em;
}

.footnotes{
    font-size: 0.8em;
}

.responsive {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    body {
        width: 90%;
    }
}
